<header>
    <div class="logo"></div>
    <nav>
        <a class="menu" href="https://github.com/one-data-model/prototype-registry/blob/verification/README.md" target="_blank">README</a>
        <a class="menu" href="https://github.com/one-data-model/prototype-registry" target="_blank">GitHub</a>
        <a class="menu" href="">Contact</a>
    </nav>
    <h1><span>One Data Model Registry</span></h1>
    <p class="kicker">To submit new models please follow the instructions provided in the <a href="https://github.com/one-data-model/prototype-registry/blob/verification/README.md" target="_blank">README</a> file.</p>
    <div class="search">
        <p>Search: (tags +/or Name +/or Type +/or Submitter)</p>
    </div>
</header>